{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 51.38846682703228,
    "longitude": -0.28486720905804624,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Pamba",
    "time_zone": "Europe/London",
    "external_url": "https://hass.tojgan.net",
    "internal_url": null,
    "currency": "GBP",
    "country": null,
    "language": "en-GB",
    "radius": 100
  }
}